<body class="min-h-screen flex flex-col">
    <footer class="bg-black text-white py-4 mt-auto w-full">
        <div class="container mx-auto px-4">
            <div class="flex flex-col md:flex-row justify-center items-center space-y-3 md:space-y-0">
                <!-- Logo Section -->
                   <div class="flex justify-center w-full m-0">
                    <img src="/images/logo.jpg" class="rounded-full h-16 w-16 align-middle" alt="Logo">
                </div>
                <!-- Text Section -->
                <div class="text-center mt-3 md:mt-0">
                    <p class="m-0">FirstPick - Tous droits réservés</p>
                </div>
            </div>
        </div>
    </footer>
</body>
