<body class="min-h-screen flex flex-col">
    <footer class="bg-black text-white py-4 mt-auto w-full">
        <div class="container mx-auto px-4">
            <div class="justify-center items-center space-y-3 text-center">
                <!-- Logo Section -->
                <img src="{{ asset('images/logo.png') }}" alt="Logo" style="max-width: 60px; display: inline;">

                <!-- Text Section -->
                <p class="m-0 mt-2">FirstPick - Tous droits réservés</p>
            </div>
        </div>
    </footer>
</body>
