<footer class="footer bg-dark text-light py-4 mt-auto">
    <div class="container">
        <div class="row justify-content-center justify-content-md-between align-items-center">
            <!-- Logo Section -->
            <div class="col-12 col-md-auto text-center text-md-left mb-3 mb-md-0">
                <img src="/_partials/logo.jpg" class="rounded-circle img-fluid" alt="Logo" style="max-width: 100px;">
            </div>
            <!-- Text Section -->
            <div class="col-12 col-md-auto text-center">
                <p class="m-0">FirstPick - Tous droits réservés</p>
            </div>
        </div>
    </div>
</footer>
