{% extends 'base.html.twig' %}

{% block title %}Forgot Password{% endblock %}

{% block body %}
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-lg-6">
            <h1 class="mb-4 text-center">Forgot your password?</h1>
            <p class="mb-4 text-center">Please enter your email address to request a password reset.</p>
            
            <form method="post">
                <div class="form-group mb-4">
                    <label for="email" class="form-label">Email address</label>
                    <input type="email" name="email" id="email" class="form-control" required>
                </div>
                <button type="submit" class="btn btn-primary w-auto" style="margin-left: 0; margin-bottom: 1rem;">Request Password Reset</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
