{% extends 'base.html.twig' %}

{% block title %}Reset Password{% endblock %}

{% block body %}
<div class="container">
    <h1>Reset your password</h1>
    <p>Please enter your new password below.</p>
    
    <form method="post">
        <div class="form-group">
            <label for="password">New Password</label>
            <input type="password" name="password" id="password" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-primary">Reset Password</button>
    </form>
</div>
{% endblock %}
