{% extends 'base.html.twig' %}

{% block title %}Week{% endblock %}

{% block body %}
    <h1>Week</h1>

    <table class="table">
        <tbody>
            {% for team in teams %}
                <tr>
                    <th>Equipe</th>
                    <td>{{ team.name }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
