{% extends 'base.html.twig' %}

{% block title %}League{% endblock %}

{% block body %}
    <h1>League</h1>

     <table class="table">
        <tbody>
            {% for league in leagues %}
                <tr>
                    <th>Semaine</th>
                    <td>{{ league.id }}</td>
                       <td>
            <a href="{{ path('app_week_show', {'id': league.id}) }}">show</a>
    </td>
               
                </tr>
            {% endfor %}
        </tbody>
    </table>
 
      
 
{% endblock %}
