
.footer {
  margin-top: auto;
}

header {
  background-color: #ffcc00;
  color: #333333;
}
#jaune a,
#jau a,
#jaun a {
  color: #ffcc00;
  font-weight: bold;
}
.nav-link {
  color: #ffcc00;
  font-weight: bold;
}
.navbar-brand {
  font-size: 24px;
  font-weight: bold;
  color: #ffcc00;
  text-decoration: none;
}
.navbar-nav li a {
  color: #333333;
}
.navbar-nav li a:hover {
  color: #000000;
}
.navbar-nav .nav-item.special-link a {
  color: #ffcc00;
  font-weight: bold;
}

.main-content {
  background-color: #ffffff;
  padding: 20px;
  margin-top: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.section-title {
  font-size: 28px;
  text-align: center;
  margin-bottom: 20px;
}
#back {
  background-color: #ffcc00;
}
#back a {
  color: white;
}
.btn-start {
  display: block;
  width: 200px;
  margin: 0 auto;
  text-align: center;
  background-color: #ffcc00;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 5px;
  text-decoration: none;
}
.btn-start:hover {
  background-color: #0056b3;
}
/* Style pour la section 2 */
#rules {
  background-color: #ffcc00;
  color: #000000;
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
}
.rules-left,
.rules-right {
  margin-bottom: 20px;
}
.main-content,
.container-fluid {
  padding: 0;
}

