/* pole espoir aulnoye */

body {
    background-color: rgb(21, 41, 221) !important; /* Light Blue */
}
button.add-player-btn:disabled {
    background-color: rgb(21, 41, 221); /* Light Blue */
    color: #000;
}
button.add-player-btn {
    background-color: rgb(21, 41, 221); /* Light Blue */
    color: #000;
}
.back-banner H1 {
    color: rgb(242,242,242);
}
a.back-link {
    color: rgb(242,242,242);
    text-decoration: none;
}
a.back-link:visited {
    color: rgb(242,242,242);
}
a.back-link:hover,
a.back-link:active {
    color: rgb(242,242,242);
}
.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 5px !important;
    margin-bottom: 0 !important;
}

.table th, .table td {
    padding: 8px;
    text-align: center;
    font-size: 0.875rem;
    border: 1px solid #ccc;
}
.table th {
    background-color: rgb(242,242,242); 
    font-weight: 600;
    text-transform: uppercase;
    color: #4b5563; /* Dark gray text */
}
.table tbody tr:nth-child(even) {
    background-color: #f3f4f6; /* Light gray background for even rows */
}
.table tbody tr:hover {
    background-color: #374151; /* Darker gray for hover */
    color: #ffffff; /* White text on hover */
}
.card {
    max-width: 377px;
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: white;
    border-radius: 5px;
}
.card-header {
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
.card-body {
    max-height: 300px;
    overflow-y: auto;
    padding: 10px;
}
.list-group-item {
    list-style: none;
    padding: 5px 10px;
    border: 1px solid #ddd;
    margin-bottom: 5px;
    background-color: #f9f9f9;
    border-radius: 5px;
    text-align: center;
}
.back-banner {
    display: flex;
    align-items: center;
    background-color: rgb(21, 41, 221); /* Light Blue */
    padding: 16px;
    margin-bottom: 16px;
    justify-content: center;
}
.back-link {
    display: flex;
    align-items: center;
    color: #FFFFFF;
    margin-right: 16px;
    text-decoration: none;
}
.back-link i {
    font-size: 24px;
    margin-right: 16px;
    color: #FFFFFF;
}
h1 {
    margin: 0;
    color: #000000;
    font-size: 2.25rem;
    font-weight: bold;
}
button.add-player-btn {
    background-color: rgb(21, 41, 221); /* Light Blue */
    color: rgb(242,242,242);
    padding: 5px 15px;
    border-radius: 9999px;
    border: none;
    cursor: pointer;
}
button.add-player-btn:hover {
    background-color: rgb(21, 41, 221); /* Darker Light Blue */
}
