body {
    background-color: rgb(221, 8, 8) !important; /* Rouge */
}

.back-banner h1 {
    color: #ffffff; /* Blanc */
}

a.back-link {
    color: rgb(0, 0, 0); /* Noir */
    text-decoration: none;
}

a.back-link:visited,
a.back-link:hover,
a.back-link:active {
    color: rgb(0, 0, 0); /* Noir */
}

.table {
    width: 100%;
    border-collapse: separate; /* Changer de collapse à separate */
    border-spacing: 0; /* Espacement entre les cellules */
    margin-top: 5px !important;
    margin-bottom: 0 !important;
    border-radius: 8px; /* Ajouter du border-radius */
    overflow: hidden; /* Pour que le border-radius s'applique aussi aux cellules */
}

.table th, .table td {
    padding: 12px; /* Augmenter l'espace à l'intérieur des cellules */
    text-align: center; /* Centrer horizontalement */
    vertical-align: middle; /* Centrer verticalement */
    font-size: 0.875rem;
    border: 1px solid #ccc;
    font-weight: bold; /* Mettre en gras */
    font-family: 'Arial', 'Helvetica', sans-serif; /* Police plus visible */
    color: #333; /* Couleur du texte */
}



.table thead th {
    background-color: #000000; /* Fond noir */
    font-weight: 600;
    text-transform: uppercase;
    color: #FFFFFF; /* Texte blanc */
}

.table tbody tr:nth-child(even) {
    background-color: #f2f2f2; /* Fond gris clair pour les lignes paires */
}



.card {
    width: 100%; /* Utiliser la pleine largeur disponible */
    margin-top: 20px; /* Ajouter un espacement en haut */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: white;
    border-radius: 8px; /* Ajouter du border-radius */
}

.card-header {
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.card-body {
    max-height: 300px;
    overflow-y: auto;
    padding: 10px;
}

.list-group-item {
    list-style: none;
    padding: 10px 15px; /* Augmenter l'espace */
    border: 1px solid #ddd;
    margin-bottom: 5px;
    background-color: #f9f9f9;
    border-radius: 8px; /* Ajouter du border-radius */
    text-align: center;
}

.back-banner {
    display: flex;
    align-items: center;
    background-color: rgb(221, 8, 8);
    padding: 16px;
    
    justify-content: center;
}

.back-link {
    display: flex;
    align-items: center;
    color: #ffffff; /* Blanc */
    margin-right: 16px;
    text-decoration: none;
}

.back-link i {
    font-size: 24px;
    margin-right: 16px;
    color: #ffffff; /* Blanc */
}

h1 {
    margin: 0;
    color: #ffffff; /* Blanc */
    font-size: 2.25rem;
    font-weight: bold;
}

/* Changer l'apparence des boutons lorsque la ligne est rouge */
.table tbody tr:nth-child(odd) button.add-player-btn { /* Si la ligne est rouge */
    background-color: #FFFFFF; /* Fond blanc */
    color: rgb(221, 8, 8); /* Texte rouge */
    padding: 5px 15px;
    border-radius: 9999px;
    border: none;
    font-family: 'Arial', 'Helvetica', sans-serif; /* Police plus visible */
   
    font-weight: 600;
    cursor: pointer;
}
/* Changer l'apparence des boutons lorsque la ligne est rouge */
.table tbody tr:nth-child(even) button.add-player-btn { /* Si la ligne est rouge */
    background-color: rgb(221, 8, 8); /* Fond rouge */
    color: #FFFFFF; /* Texte blanc */
    padding: 5px 15px;
    border-radius: 9999px;
    border: none;
    font-family: 'Arial', 'Helvetica', sans-serif; /* Police plus visible */
   
    font-weight: 600;
    cursor: pointer;
}
