/* comem  nice */

body {
    background-color: rgb(255, 0, 0) !important; /* Red */
}
button.add-player-btn:disabled {
    background-color: rgb(255, 0, 0); /* Red */
    color: #000;
}
button.add-player-btn {
    background-color: rgb(255, 0, 0); /* Red */
    color: #000;
}
.back-banner H1 {
    color: #fff; /* Black */
}

a.back-link {
    color: #fff; /* Black */
    text-decoration: none;
}
a.back-link:visited {
    color: #fff; /* Black */
}
a.back-link:hover,
a.back-link:active {
    color: #fff; /* Black */
}
.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 5px !important;
    margin-bottom: 0 !important;
}

.table th, .table td {
    padding: 8px;
    text-align: center;
    vertical-align: middle;
    font-size: 0.875rem;
    border: 1px solid #ccc;
    font-weight: bold; /* Mettre en gras */
    font-family: 'Arial', 'Helvetica', sans-serif; /* Police plus visible */

}

.table thead th {border-bottom: 2px solid #ffffff;}

.table th {
    background-color: #fff; /* Black */
    font-weight: 600;
    text-transform: uppercase;
    color: #ee2207; /* Dark gray text */
}
.table tbody tr:nth-child(even) {
    background-color: #f3f4f6; /* Light gray background for even rows */
}
.table tr:nth-child(odd) td {
    color: #fff; /* Couleur du texte pour les lignes impaires */
}


.table tr:nth-child(even) td {
    color: rgb(209, 12, 12); /* Couleur du texte pour les lignes paires */
}
.card {
    max-width: 377px;
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: white;
    border-radius: 5px;
}
.card-header {
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
.card-body {
    max-height: 300px;
    overflow-y: auto;
    padding: 10px;
}
.list-group-item {
    list-style: none;
    padding: 5px 10px;
    border: 1px solid #ddd;
    margin-bottom: 5px;
    background-color: #f9f9f9;
    border-radius: 5px;
    text-align: center;
}
.back-banner {
    display: flex;
    align-items: center;
    background-color: #FF0000; /* Red */
    padding: 16px;
    
    justify-content: center;
}
.back-link {
    display: flex;
    align-items: center;
    color: #fff; /* Black */
    margin-right: 16px;
    text-decoration: none;
}
.back-link i {
    font-size: 24px;
    margin-right: 16px;
    color: #fff; /* Black */
}
h1 {
    margin: 0;
    color: #FF0000; /* Red */
    font-size: 2.25rem;
    font-weight: bold;
}

button.add-player-btn:hover {
    background-color: #CC0000; /* Darker Red */
}
.table tbody tr:nth-child(odd) button.add-player-btn { /* Si la ligne est rouge */
   
    background-color: #fff; /* Fond blanc */
    color: rgb(226, 5, 5); /* Texte rouge */
   
    padding: 5px 15px;
    border-radius: 9999px;
    border: none;
    font-family: 'Arial', 'Helvetica', sans-serif; /* Police plus visible */
   
    font-weight: 600;
    cursor: pointer;
}
/* Changer l'apparence des boutons lorsque la ligne est rouge */
.table tbody tr:nth-child(even) button.add-player-btn { /* Si la ligne est rouge */
    background-color: rgb(226, 5, 5); /* Fond rouge */
    color: #fff; /* Texte blanc */
    padding: 5px 15px;
    border-radius: 9999px;
    border: none;
    font-family: 'Arial', 'Helvetica', sans-serif; /* Police plus visible */
   
    font-weight: 600;
    cursor: pointer;
}
.table tr:nth-child(odd) td {
    color: #fff; /* Couleur du texte pour les lignes impaires */
}


.table tr:nth-child(even) td {
    color: rgb(226, 5, 5); /* Couleur du texte pour les lignes paires */
}
.table tbody tr:nth-child(even) {
    background-color: #fff; /* Light gray background for even rows */
}