{% extends 'base.html.twig' %}

{% block title %}Règles de la Fantasy League{% endblock %}

{% block body %}
<div class="container mt-5 mb-5">
    <h2 class="text-center text-dark mb-4">Règles de la Fantasy League</h2>
    <p class="lead text-muted">
        Chaque semaine, vous avez la possibilité de choisir un maximum de 5 joueuses issues de la LFB ou de la LF2 pour composer votre équipe. 
        Une fois sélectionnées, ces joueuses seront indisponibles pour les 5 semaines suivantes, vous obligeant à diversifier vos choix. 
        Les points que vous gagnez sont directement liés à leurs performances réelles sur le terrain : points marqués, passes décisives, rebonds, et autres statistiques. 
        Utilisez votre flair pour dénicher les talents cachés et construire une stratégie gagnante sur la durée !
    </p>
</div>

<style>
    h2 {
        font-weight: bold;
        color: #000; /* Texte en noir pour le titre */
    }

    p.lead {
        font-size: 1.25rem;
        line-height: 1.6;
        color: #6c757d; /* Texte légèrement gris pour un contraste doux */
    }

    body {
        display: flex;
        flex-direction: column;
        min-height: 100vh; /* Assure que le body couvre toute la hauteur de la vue */
    }

    .container {
        flex: 1; /* Permet au container de grandir et de remplir l'espace disponible */
    }

    footer {
        flex-shrink: 0; /* Empêche le footer de rétrécir */
    }
</style>
{% endblock %}
