{% extends 'base.html.twig' %}

{% block title %}Hello DashboardController!{% endblock %}

{% block body %}
<div class="container mt-5 mb-5"> 
    <div class="row">
        <div class="col">
            <div class="example-wrapper bg-danger mb-3 p-3">
                <div>
                    <h1>LFB</h1>
                    <h2>PTS SEMAINE</h2>
                </div>
                <div>
                    <h2>RANKING SEMAINE</h2>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="example-wrapper bg-danger mb-3 p-3">
                <div>
                    <h1>LF2</h1>
                    <h2>PTS SEMAINE</h2>
                </div>
                <div>
                    <h2>RANKING SEMAINE</h2>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="example-wrapper bg-danger mb-3 p-3">
                <div>
                    <h1>LFB</h1>
                    <h2>{{ app.user.getPtlLfb }}  PTS SAISON</h2>
                </div>
                <div>
                    <h2>RANKING SAISON</h2>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="example-wrapper bg-danger mb-3 p-3">
                <div>
                    <h1>LF2</h1>
                    <h2>{{app.user.getPtLf2  }} PTS SAISON</h2>
                </div>
                <div>
                    <h2>RANKING SAISON</h2>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="example-wrapper bg-danger mb-3 p-3">
                <h1>5 MAJEUR</h1>
                <div><h2>LFB</h2></div>
                <div><h2>LF2</h2></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
